.detail-container {
  .info-row {
    padding-top: .5rem;
    .detail-avatar {
      height: 10rem;
      width: 10rem;
      overflow: hidden;
      margin: 0 auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .photographer-info,.user-info {
      .photographer-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .info-container {
        padding-left: 0;
        padding-right: 0;
        .detail-info {
          text-align: center;
          margin-top: .25rem;
          margin-bottom: 0;
        }
        .sns-container {
          display: flex;
          justify-content: center;
          margin-top: .25rem;
          .sns-link {
            display: flex;
            padding: .25rem;
            margin: 0 auto;
            color: white;
            text-align: center;
            border-radius: .25rem;
            text-decoration: none;
          }
          .facebook {
            max-width:300px;
            background-color: #305097;
            font-size: 1.8rem;
          }
          .instagram {
            font-family:'Pacifico', cursive;
            line-height:1.5em;
            max-width:300px;
            background-image:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%);
            font-size: .9em;
          }
          .twitter {
            max-width:300px;
            background-color:#00aced;
            font-size:1.8em;
          }
        }
      }
      .area-container {
        display: flex;
        margin-top: .25rem;
        flex-wrap: wrap;
        width: 100%;
        .area-text {
          color: #343a40;
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
      .detail-title {
        color: #f8f9fa;
        background: #daa520;
        border-radius: .25rem;
        padding-right: .25rem;
        padding-left: .25rem;
        text-align: center;
      }
    }
  }

  .detail-section-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
    &__text {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .detail-row {
    .portfolio-detail-board {
      height: 225px;
      width: 100%;
      text-align: center;
      flex-wrap: wrap;
      padding-right: 0;
      padding-left: 0;
      .portfolio-detail-image {
        height: 200px;
        width: 100%;
        object-fit:contain;
      }
      .category-text {
        background: #daa520;
        color: #f8f9fa;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }
  }

  .photographer-description {
    line-height: 1.5;
    padding: 1rem 1rem;
    background: white;
    &__text {
      white-space: pre-wrap;
      font-weight: 300;
    }
  }

  .user-description {
    line-height: 1.5;
    padding: 1rem 1rem;
    background: white;
    height: 250px;
    &__text {
      white-space: pre-wrap;
      font-weight: 300;
    }
  }

  .detail-price {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
      vertical-align: bottom;
      display: inline-block;
    }
    &__text {
      vertical-align: bottom;
      display: inline-block;
      font-weight: bold;
    }
  }

  .chat-link-button {
    height: 60px;
    line-height: 60px;
    font-weight: 600;
    font-size: 24px;
    background: #daa520;
    display: block;
    width: 100%;
    margin: 1rem 0;
    color: #f8f9fa;
    text-align: center;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
  
}

/*---Media Queries --*/
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  .detail-container {
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .detail-container {
    .detail-text {
      font-size: 110%;
    }
    .info-row {
      .detail-avatar {
        height: 6rem;
        width: 6rem;
      }
      .photographer-info {
        .photographer-name {
          text-align: center;
        }
        .info-container {
          .area-text {
            font-size: 80%;
          }
        }
      }
    }
    .detail-row {
      .portfolio-detail-board {
        height: 150px;
        .portfolio-detail-image {
          height: 125px;
          width: 100%;
          object-fit: contain;
        }
        .category-text {
          font-size: 80%;
        }
      }
    }
    .detail-price {
      h3 {
        font-size: 150%;
      }
      h1 {
        font-size: 170%;
      }
    }
  }
  #user-detail-label {
    font-size: 120%;
  }
}