.navbar-sidebar {
  height: 100vh;
  background: white;
  padding-right: 0;
  padding-left: 0;
  .sidebar-avatar {
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 .5rem .5rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .sidebar-logo {
    font-family: 'Modak', cursive;
  }
  .main-logo {
    color: $main-color;
  }
  .sub-logo {
    color: $sub-color;
  }
  .navbar-collapse {
    // height: 75%;
    width: 100%;
    z-index: 1030;
    .navbar-nav {
      height: 100%;
      width: 100%;
      .nav-item {
        width: 100%;
        background: white;
      }
    }
  }
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .navbar-sidebar {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-sidebar {
    height: 8vh;
    .sidebar-avatar {
      height: 3.5rem;
      width: 3.5rem;
    }
    .navbar-toggler {
      margin-right: .5rem;
    }
  }
}

@media (max-width: 576px) {
  .navbar-sidebar {
    height: 10vh;
    padding-top: .2rem;
    .sidebar-avatar {
      height: 3.5rem;
      width: 3.5rem;
    }
    .navbar-toggler {
      margin-right: .2rem;
    }
    .nav-link {
      padding-left: 1rem;
      h4 {
        font-size: 100%;
      }
    }
  }
}