.body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Kosugi', sans-serif;
}
.object-cover {
  object-fit: cover;
}
.object-contain {
  object-fit: contain;
}
.main-content {
  height: 100vh;
}
.mw-100 {
  max-width: 100%;
}
.mw-50 {
  max-width: 50%;
}


.modak {
  font-family: 'Modak', cursive;
}
.kosugi {
  font-family: 'Kosugi', sans-serif;
}

.bg-main {
  background: $main-color;
}
.bg-sub {
  background: $sub-color;
}
.bg-gray {
  background-color: #eeeeee;
}
.bg-brown {
  background-color: #b36800;
}

.btn-main {
  background: $main-color;
  border-color: #ff7200;
}
.btn-sub {
  background: $sub-color;
  border-color: #00b3a4;
}

.text-main {
  color: $main-color;
}
.text-sub {
  color: $sub-color;
}
.text-shadow {
  text-shadow: 1px 1px 2px black;
}

.border-main {
  border: .2rem solid $main-color;
}
.border-bottom-main {
  border-bottom: .2rem solid $main-color;
}
.border-sub {
  border: .2rem solid $sub-color;
}
.border-bottom-sub {
  border-bottom: .2rem solid $sub-color;
}

.button-link {
  opacity: 0.5;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.my-avator {
  height: 5rem;
  width: 5rem;
}
.oponent-portfolio {
  height: 200px;
}
.portfolio-detail-board {
  height: 225px;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  .portfolio-detail-image {
    height: 200px;
    width: 100%;
    object-fit:contain;
  }
}
.oponent-avator {
  height: 3rem;
  width: 3rem;
}
.chat-avator {
  height: 4rem;
  width: 4rem;
}
.detail-avator {
  height: 10rem;
  width: 10rem;
}
.photographer-link:hover {
  text-decoration: none;
  border: 3px solid $main-color;
}

.chat-number {
  height: 3rem;
  width: 3rem;
}

.twitter {
  max-width:300px;
  background-color:#00aced;
  font-size:1.8em;
}
.instagram {
  font-family:'Pacifico', cursive;
  line-height:1.5em;
  max-width:300px;
  background-image:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%);
}
.facebook {
  max-width:300px;
  background-color: #305097;
  font-size: 1.8rem;
}

.grapher-description {
  line-height: 1.5;
}
.chat-button {
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 24px;
}
.chat-button:hover {
  text-decoration: none;
  opacity: 0.8;
}

.description-inner {
  white-space: pre-wrap;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  .body {
    padding-top: 90px;
  }

  .header-text {
    font-size: 150%;
  }

  .my-avator {
    height: 3rem;
    width: 3rem;
  }
}
@media (max-width: 576px) {
  .header-text {
    font-size: 150%;
  }

  .chat-name {
    font-size: 110%;
  }

  .detail-avator {
    height: 6rem;
    width: 6rem;
  }
  .detail-text {
    font-size: 110%;
  }
  .detail-title {
    width: 100%
  }
  .jenre-text {
    font-size: 80%;
  }
  .grapher-name {
    text-align: center;
  }
}