.cover {
  background: -moz-linear-gradient(top,#FFF,$main-color 30%,#F89174); 
  background: -webkit-linear-gradient(top,#FFF,$main-color 30%,#F89174); 
  background: linear-gradient(to bottom,#FFF,$main-color 30%,#F89174); 
  opacity: 0.5;
  z-index: 1;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.top-page {
  .carousel {
    .carousel-inner {
      .carousel-item {
        .top-bg {
          width: 100vw;
          height: 100vh;
          object-fit: cover;
        }
        .carousel-caption {
          text-align: center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          .top-logo {
            font-size: 700%;
            margin-bottom: 1.5rem;
            font-family: 'Modak', cursive;
          }
          .top-description {
            margin-bottom: 1.5rem;
            h3 {
              font-size: 200%;
              font-weight: bold;
              padding-bottom: 1rem;
            }
          }
          .signed-in {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__message {
              display: block;
              margin-bottom: 1.5rem;
            }
            .signed-in-link {
              width: 50%;
              &__button {
                width: 100%;
                padding: .5rem;
                color: white;
                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
          .no-signed-in {
            width: 60%;
            margin: 0 auto;
          }
        }   
      }
    }
  }
}

.top-modal {
  .modal-dialog {
    max-width: 70vw;
    .modal-header {
      padding: 0.8rem;
    }
    .modal-content {
      .select {
        height: 30vh
      }
    }
  }
}

/*---Media Queries --*/
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  .top-page {
    .carousel {
      .carousel-inner {
        .carousel-item {
          .carousel-caption {
            top: 45%;
            .top-description {
              h3 {
                font-size: 240%;
              }
            }

            .signed-in {
              &__message {
                font-size: 160%;
              }
              .signed-in-link {
                width: 80%;
                &__button {
                  font-size: 180%;
                  &:hover {
                    opacity: 0.8;
                  }
                }
              }
            }

            p {
              font-size: 150%;
            }
            .btn {
              font-size: 180%;
              padding: 1rem 1.8rem;
            }
            .vartical {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

  }
  .top-modal {
    .modal-dialog {
      width: 60vw;
      .modal-content {
        .select {
          height: 20vh
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .top-page {
    .carousel {
      .carousel-inner {
        .carousel-item {
          .carousel-caption {
            .top-logo {
              font-size: 400%;
              margin-bottom: 1.5rem;
            }
            .top-description {
              h3 {
                font-size: 170%;
              }
            }
            .signed-in {
              &__message {
                font-size: 130%;
              }
              .signed-in-link {
                width: 100%;
                &__button {
                  font-size: 100%;
                }
              }
            }
            .no-signed-in {
              button {
                font-size: 120%;
                padding: 8px 10px;
              }
              p {
                font-size: 150%;
              }
            }
          }
        }
      }
    }
  }

  .top-modal {
    .modal-dialog {
      width: 90vw;
      .modal-content {
        .modal-header {
          .modal-title {
            font-size: 90%;
          }
        }
        .modal-body {
          & h3 {
            font-size: 150%;
          }
          .select {
            height: 20vh
          }
        }
      }
    }
  }
}
